

@import "tailwindcss";

/* Tokens de tu marca (Tailwind v4) */
@theme {
  /* Colores de tu paleta */
  --color-roseSoft: #B68785;   /* rosado tierra */
  --color-brownDeep: #693E35;  /* marrón profundo */
  --color-pinkBright: #CB4E71; /* fucsia floral */
  --color-graySoft: #A9B3B1;   /* gris suave */
  --color-oliveSpring: #9BA04E;/* verde oliva */

  /* Conectar fuentes de next/font con Tailwind */
  --font-sans: var(--font-poppins);
  --font-display: var(--font-playfair);
}


/* Variables de color */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
